@font-face {
    font-family: 'Gilroy';
    src: url('#{$fonts}gilroy/gilroy-extrabold-webfont.woff2') format('woff2'),
         url('#{$fonts}gilroy/gilroy-extrabold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('#{$fonts}gilroy/gilroy-light-webfont.woff2') format('woff2'),
         url('#{$fonts}gilroy/gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
