.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.img_center {
    display: block;
    margin: 0 auto;
}

.mb-1 {
    margin-bottom: 1rem;
}

.trusted_link {
    text-decoration: none;
}

.btn--choose {
    border: 2px solid #fff;
    margin: auto;
    display: block;
    width: 90%
}