// Media queries
$retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";
$media_xl: "(max-width: 1199px)";
$media_lg: "(max-width: 991px)";
$media_md: "(max-width: 767px)";
$media_sm: "(max-width: 575px)";

// Paths
$img: "../i/";
$fonts: "../fonts/";


// Colors
$black: #333;
$white: #fff;
$gray: #d8d8d8;
