////////
// Project variables
////////
@import "vars";
@import "fonts";

html, body {
    font-size: 14px;
    line-height: 1.2;
}

body {
    margin: 0;
    font-family: "Gilroy", sans-serif;
    color: $white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    color: $white;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
}


////////
// Blocks
////////
@import "blocks/container";
@import "blocks/content";
@import "blocks/header";
@import "blocks/learn";
@import "blocks/switcher";
@import "blocks/btn";
@import "blocks/form";
@import "blocks/trusted";
@import "blocks/balance";
@import "blocks/search";
@import "blocks/checkbox";
@import "blocks/radio";
@import "blocks/footer";


////////
// Helpers
////////
@import "helpers";
