.balance {
    margin-top: 1rem;

    font-size: 5rem;
    text-align: center;
    font-weight: 700;

    span {
        display: block;
        font-size: 2.2rem;
        font-weight: normal;
        text-transform: uppercase;
    }
}
