.btn {
    display: inline-block;
    vertical-align: middle;
    padding: .75rem 1.25rem;

    font-size: 1.25rem;
    color: $white;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    cursor: pointer;
    border-radius: 30px;
    border: 0;

    transition: background .1s linear;

    &--main {
        border: 2px solid $white;

        display: block;
        width: 90%;
        margin: auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: -25px;
        z-index: 10;
    }

    &--red {
        background-color: #fe1212;

        &:hover {
            background-color: darken(#fe1212, 8%);
        }
    }

    &--gray {
        background-color: #464646;

        &:hover {
            background-color: lighten(#464646, 8%);
        }
    }
}
