$checkbox-before-border-color:              $gray;
$checkbox-before-border:                    1px solid $checkbox-before-border-color;
$checkbox-before-bg:                        #555;
$checkbox-before-bg-checked:                #8d8d8d;
$checkbox-before-border-color-checked:      $checkbox-before-bg-checked;
$checkbox-before-width:                     25px;
$checkbox-before-height:                    25px;
$checkbox-before-radius:                    6px;

$checkbox-color:                            $white;
$checkbox-indent:                           $checkbox-before-width + 10;
$checkbox-font-size:                        1em;
$checkbox-margin-bottom:                    5px;
$checkbox-inline-margin-right:              5px;

/* Disabled */
$checkbox-disabled-color:                   $gray;
$checkbox-before-disabled-border-color:     lighten($checkbox-before-border-color, 15%);
$checkbox-after-disabled-color:             $gray;
$checkbox-after-disabled-opacity:           .3;
$checkbox-cursor-disabled:                  not-allowed;


.checkbox {
    display: block;
    margin-bottom: $checkbox-margin-bottom;

    &--inline {
        display: inline-block;
        vertical-align: top;
        margin-right: $checkbox-inline-margin-right;
    }
}

.checkbox__input {
    display: none;

    &:checked + .checkbox__label {
        color: $checkbox-color;
    }

    &:checked + .checkbox__label:before {
        background-color: $checkbox-before-bg-checked;
        border-color: $checkbox-before-border-color-checked;
    }

    &:checked + .checkbox__label:after {
        opacity: 1;
    }

    &:checked + .checkbox__label:hover:after {
        opacity: 1;
    }
}

.checkbox__label {
    display: inline-block;
    vertical-align: top;
    padding-left: $checkbox-indent;

    cursor: pointer;
    font-size: $checkbox-font-size;
    line-height: $checkbox-before-height;
    color: $checkbox-color;
    user-select: none;

    position: relative;

    &:before {
        content: "";
        display: block;
        width: $checkbox-before-width;
        height: $checkbox-before-height;

        background-color: $checkbox-before-bg;
        border-radius: $checkbox-before-radius;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        transition: border-color .1s linear;
    }

    &:after {
        content: "";
        display: block;
        width: 22px;
        height: 17px;
        background: url("#{$img}checkbox.png") center no-repeat;

        position: absolute;
        top: 6px;
        left: 3px;
        z-index: 1;

        opacity: 0;

        transition: opacity .1s linear, color .1s linear;
    }


    &:hover:not(&--disabled):after {
        color: $checkbox-after-disabled-color;
        opacity: $checkbox-after-disabled-opacity;
    }

    &--disabled {
        color: $checkbox-disabled-color;

        &:before {
            border-color: $checkbox-before-disabled-border-color;
        }

        &:hover {
            cursor: $checkbox-cursor-disabled;
        }
    }
}
