.content {
    width: 100%;
    height: 80%;
    padding: 2rem 2rem 3.5rem;
    position: relative;

    background: #363636;
    background: -moz-radial-gradient(center, ellipse, #363636 0%, #363636 40%, #181818 100%);
    background: -webkit-radial-gradient(center, ellipse, #363636 0%,#363636 40%,#181818 100%);
    background: radial-gradient(ellipse at center, #363636 0%,#363636 40%,#181818 100%);

    &:before {
        content: "";
        width: 100%;
        height: 9px;

        background-color: #c50709;
        //background: linear-gradient(90deg, #d03536 3%, #e07c7d 20%, #c50709 100%);

        background: #c50709 url("#{$img}watchdog_gif.gif") center no-repeat;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
}

.content__title {
    margin: 0 0 2rem;

    font-size: 1.7rem;
    text-align: center;
    color: $white;
    text-transform: uppercase;

    &.thin {
        font-weight: normal;
    }

    &.small {
        font-size: 1rem;
    }
}

.content__subtitle {
    margin-bottom: 1.8rem;

    color: $white;
    font-size: 1rem;
    text-align: center;
}
