.footer {
    width: 100%;
    height: 20%;
    padding: 3.75rem 2rem 2rem;
    position: relative;

    background: #c50709 url("#{$img}footer-bg.jpg") center no-repeat;
    background-size: cover;
}

.footer__status {
    margin-top: 10px;

    text-transform: uppercase;
    color: $white;
    font-weight: 700;
    font-size: .85rem;

    position: absolute;
    top: 50%;
    right: 2rem;
    z-index: 1;
    transform: translateY(-50%);
}
