.form__group {
    margin-bottom: .9rem;
}

.form__label {
    display: inline-block;
    margin-bottom: .5rem;

    font-size: 1rem;
    color: #aaa;
}

.form__input {
    display: block;
    width: 100%;
    height: 31px;
    padding: .5rem 1rem;

    font-size: 14px;
    color: $white;

    border-radius: 30px;
    border: 1px solid #646464;
    background-color: #555555;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .3) inset;

    &:focus {
        outline: 0;
    }
}

.form__textarea {
    display: block;
    width: 100%;
    height: 100px;
    padding: .5rem 1rem;

    font-size: 14px;
    color: $white;

    border-radius: 20px;
    border: 1px solid #646464;
    background-color: #555555;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .3) inset;
    resize: none;

    &:focus {
        outline: 0;
    }
}

.form__select {
    display: block;
    width: 100%;
    height: 31px;
    padding: 0 .6rem;

    border-radius: 20px;
    border: 1px solid #646464;
    background-color: #555555;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, .3) inset;

    select {
        display: block;
        width: 100%;
        height: 100%;
        padding: 0;

        font-size: 14px;
        color: $white;

        border: 0;
        background: none;

        &:focus {
            outline: 0;
        }
    }
}
