.header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    position: relative;
}

.header__item {
    flex-grow: 1;
}

.header__balance {
    text-align: right;

    font-size: 1rem;
    color: $white;

    a {
        text-decoration: none;
    }

    span {
        font-size: 2.1rem;
        font-weight: 700;
    }
}

.header__avatar {
    display: flex;
    align-items: center;

    img {
        width: 35px;
        height: 35px;
        margin-right: 1rem;

        border-radius: 50%;
    }

    a {
        color: $white;
    }
}

.header__back {
    width: 20px;
    height: 20px;
    padding-top: 3px;

    text-decoration: none;
    text-align: center;

    position: absolute;
    top: 8px;
    left: -27px;
    z-index: 1;
}
