.learn {
    display: flex;
    justify-content: space-between;
    margin-top: 3.8rem;
    position: relative;

    &:before {
        content: "";
        display: block;
        width: 1px;
        height: 100%;

        background: linear-gradient(0deg, #404040 0%, $white 50%, #404040 100%);

        position: absolute;
        left: 50%;
        top: 0;
        z-index: 1;
    }
}

.learn__item {
    width: 50%;
    padding: 0 2rem;

    text-align: center;

    a {
        text-decoration: none;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.learn__link {
    display: block;

    span {
        display: block;
        margin-bottom: 1.5rem;
    }
}
