$radio-before-width:                         25px;
$radio-before-height:                        25px;
$radio-before-bg:                            #555555;

$radio-color:                                $black;
$radio-font-size:                            1em;
$radio-indent:                               $radio-before-width + 10;
$radio-margin-bottom:                        5px;
$radio-inline-margin-right:                  5px;

$radio-after-bg:                             $gray;
$radio-after-width:                          $radio-before-width - 10;
$radio-after-height:                         $radio-before-height - 10;

/* Disabled */
$radio-color-disabled:                       $gray;
$radio-opacity-disabled:                     .5;
$radio-cursor-disabled:                      not-allowed;


.radio {
    display: block;
    margin-bottom: $radio-margin-bottom;

    &--inline {
        display: inline-block;
        vertical-align: top;
        margin-right: $radio-inline-margin-right;
    }
}

.radio__input {
    display: none;

    &:checked + .radio__label:before {
        background-color: #8d8d8d;
    }

    &:checked + .radio__label:after {
        opacity: 1;
        background-color: #fe1111;
    }

    &:checked + .radio__label:hover:after {
        opacity: 1;
    }
}

.radio__label {
    display: inline-block;
    vertical-align: top;
    padding-left: $radio-indent;

    cursor: pointer;
    font-size: $radio-font-size;
    line-height: $radio-before-height;
    color: $white;
    user-select: none;

    position: relative;

    transition: color .1s linear;

    &:before {
        content: "";
        display: block;
        width: $radio-before-width;
        height: $radio-before-height;

        background-color: $radio-before-bg;
        border-radius: 50%;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        transition: border-color .1s linear;
    }

    &:after {
        content: "";
        display: block;
        width: $radio-after-width;
        height: $radio-after-height;

        background-color: $radio-after-bg;
        border-radius: 50%;
        opacity: 0;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .2),
                    -1px -1px 1px rgba(0, 0, 0, .2) inset;

        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 1;

        transition: background-color .1s linear, opacity .1s linear;
    }

    &--disabled {
        color: $radio-color-disabled;

        &:hover {
            cursor: $radio-cursor-disabled;
        }
    }
}
