.search {
    margin-bottom: 1rem;

    position: relative;
}

.search__input {
    display: block;
    width: 100%;
    height: 40px;
    padding: .5rem 3rem .5rem 1rem;

    color: $white;
    font-size: 1rem;

    background: transparent;
    border-radius: 30px;
    border: 1px solid $white;

    &:focus {
        outline: 0;
    }
}

.search__btn {
    width: 40px;
    height: 40px;
    padding: 0;

    background: url("#{$img}search-icon.png") center no-repeat;
    border: 0;
    cursor: pointer;
    border-radius: 0 30px 30px 0;

    font-size: 0;
    color: transparent;

    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;

    &:focus {
        outline: 0;
    }
}

.search__founded {
    padding-left: .75rem;
}

.search__results {
    height: 270px;
    overflow: auto;
    padding: 0 .75rem;
    margin: .75rem 0 0;
    list-style: none;

    &::-webkit-scrollbar {
        background-color: #000;
        border-radius: 5px;
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        background-color: #000;
        border-radius: 5px;
        width: 11px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #c50709;
        border-radius: 5px;
        border: 2px solid #000;
    }

    &::-webkit-scrollbar-track {
        background-color: #000;
        border-radius: 5px;
    }

    li {
        display: flex;
        justify-content: space-between;
        padding: .75rem 0;

        border-bottom: 1px solid $white;

        &:first-child {
            border-top: 1px solid $white;
        }

        &.legit {
            background: url("#{$img}legit-icon.png") right 90px center no-repeat;
            background-size: auto 25px;
        }

        &.warning {
            background: url("#{$img}warning-icon.png") right 90px center no-repeat;
            background-size: auto 23px;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}










