/* Before element */
$switcher-before-width:                      75px;
$switcher-before-height:                     $switcher-before-width / 2;
$switcher-before-radius:                     $switcher-before-width / 2;
$switcher-before-shadow:                     0 3px 3px 1px rgba(0, 0, 0, .3) inset, 0 -1px 1px rgba(0, 0, 0, .1) inset;
$switcher-before-bg:                         #e92b2d;
$switcher-before-bg-checked:                 #e92b2d;
$switcher-before-bg-active:                  rgba($switcher-before-bg-checked, .4);

/* After element */
$switcher-after-width:                       $switcher-before-width / 3;
$switcher-after-height:                      $switcher-after-width;
$switcher-after-bg:                          lighten(#fe0b0b, 10%);
$switcher-after-bg-active:                   #fe0b0b;
$switcher-after-transform:                   $switcher-before-width / 1.7;
$switcher-after-transform-active:            $switcher-before-width / 3;

/* Label */
$switcher-label-color:                       #f1797b;
$switcher-label-color-checked:               $white;
$switcher-label-font-size:                   1.25rem;
$switcher-label-indent:                      $switcher-before-width + 10;


.switcher__input {
    display: none;

    /* Default */
    &:checked + .switcher__label {
        color: $switcher-label-color-checked;
    }

    &:checked + .switcher__label:before {
        background-color: $switcher-before-bg-checked;
    }

    &:checked + .switcher__label:active:before {
        background-color: $switcher-before-bg-active;
    }

    &:checked + .switcher__label:active:after {
        transform: translateX($switcher-after-transform-active);
    }

    &:checked + .switcher__label:after {
        transform: translateX(40px);
        background-color: #fe0b0b;
    }
}

.switcher__label {
    display: inline-block;
    vertical-align: top;
    padding-left: $switcher-label-indent;

    cursor: pointer;
    font-size: $switcher-label-font-size;
    color: $switcher-label-color;
    user-select: none;
    text-transform: uppercase;
    line-height: 1.1;
    font-weight: 700;

    position: relative;

    transition: color .1s linear;

    &:before {
        content: "";
        display: block;
        width: $switcher-before-width;
        height: $switcher-before-height;

        background-color: $switcher-before-bg;
        border-radius: $switcher-before-radius;
        box-shadow: $switcher-before-shadow;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;

        transition: background-color .1s linear, border-color .1s linear;
    }

    &:after {
        content: "";
        display: block;
        width: $switcher-after-width;
        height: $switcher-after-height;

        background-color: $switcher-after-bg;
        border-radius: 50%;
        box-shadow: 0 5px 5px rgba(0, 0, 0, .3), -1px -2px 1px rgba(0, 0, 0, .3) inset;

        position: absolute;
        top: 6px;
        left: 5px;
        z-index: 1;

        transition: transform .1s linear;
    }

    &:active:before {
        background-color: $switcher-before-bg-active;
    }

    &:active:after {
        transform: translateX($switcher-after-transform-active);
    }
}

.switcher__text {
    display: inline-block;
    vertical-align: middle;
}
