.trusted {
    position: relative;
    width: 70%;
    margin: 1.5rem auto 0;
    padding-top: 1.5rem;

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;

        background: linear-gradient(90deg, #404040 0%, $white 50%, #404040 100%);

        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }
}

.trusted__title {
    margin-bottom: .5rem;

    text-align: center;
    font-size: .85rem;
    color: $white;
}
